@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
:root {
  --clr-bcg: #fff;
  --clr-font: #282c35;
  --clr-primary: #d23669;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dark-theme {
  --clr-bcg: #282c35;
  --clr-font: #fff;
  --clr-primary: #d23669;
}
.light-theme {
  --clr-bcg: #fff;
  --clr-font: #282c35;
  --clr-primary: #d23669;
}

body {
  font-family: 'Open Sans';
  background: var(--clr-bcg);
  color: var(--clr-font);
  line-height: 1.5;
  font-size: 0.875rem;
  transition: all 0.3s linear;
}

.btn {
  border: none;
  background-color: transparent;
  font-size: 2rem;
}
/* NAVBAR */
nav {
  padding: 1rem 0;
}

.nav-center {
  width: 90vw;
  max-width: 50rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
nav .logo {
  font-size: 3rem;
}

/* Articles */
.articles {
  width: 90vw;
  max-width: 50rem;
  margin: 4rem auto;
}
.article {
  margin: 2rem 0;
}
.article .title {
  text-transform: capitalize;
  color: var(--clr-primary);
  font-weight: 600;
  letter-spacing: 1.5px;
  font-size: 2rem;
}
.article-info {
  margin-bottom: 1rem;
}
.article-info span {
  font-weight: 500;
  font-size: 1rem;
}
.article p {
  font-size: 1.4rem;
  font-weight: 500;
}
